html, body, #root, .App {
  height: 100%;
  width: 100%;
}

.App {
  background-color: beige;
  display: flex;
  padding: 10px;
}

.leftCol {
  width: 40%;
  border-right: 1px solid gray;
}

.field {
  display: flex;
}

.inputLabel {
  margin-right: 5px;
}

.resetButton {
  margin-top: 50px;
}

.rightCol {
  width: 60%;
}

.chart {
  height: 500px;
  width: 100%;
}

.bar {
  width: 25px;
  /* height: 100px; */
  fill: blue;
}

.graph {
  height: 500px;
  width: 100%;
}

.rawDataDiv {
  margin-top: 50px;
}

.rawData {
  height: 400px;
  overflow-y: scroll;
}